{% extends '/admin/maBase.html.twig' %}
{% block mainTitle %}
    Commentaires
{% endblock %}
{% block title %}
    Commentaires
{% endblock %}
{% block body %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <section class="container">
        <hr>
        <div class="sidebar-search">
            <div class="input-group custom-search-form" style="margin-bottom: 20px">
                <input type="text" class="form-control" id="search_text" placeholder="Chercher ici ...">
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#search_text").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
        <!-- Fin barre de recherche -->
        <!-- tableau de resultats -->
        <table class="table table-borderless table-hover ">
            <thead>
            <tr>
                <th>User ID</th>
                <th>Commentaire</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for comment in commentaires %}

                <tr style="cursor: pointer" title="Plus de details">

                    <td>{% if comment.user %} {{ comment.user.id }}{% else %} Anonyme {% endif %}</td>
                    <td>{{ comment.contenu }}</td>
                    <td><a href="{{ path('supprimer_commentaire',{'id':comment.id }) }}"><i class="fa fa-trash fa-2x"
                                                                                            aria-hidden="true"></i></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    {#
        <table class="table ">
            <thead>
            <tr>
                <th>User ID</th>
                <th>Comment</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>

            {% for comment in commentaires %}
                <tr>

                    <td>{% if comment.user%} {{ comment.user.id  }}{% else%} Anonyme {% endif %}</td>
                    <td>{{ comment.contenu }}</td>
                    <td><a href="{{ path('supprimer_commentaire',{'id':comment.id })}}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    #}
{% endblock %}